.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card-item {
  background-color: #ffff;
  border-radius: 20px;
  padding: 24px 24px 32px 32px;
  margin: 24px 24px 48px 0px;
  max-width: 323px;
  list-style-type: none;
}

.heading {
  color: #171f46;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
}
.description {
  color: #64748b;
  font-family: roboto;
  font-size: 14px;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
}

.card-img {
  width: 80px;
  height: 80px;
}
